.cgrey 
{
    color: #929497 !important;
}

.cprimary
{
    color: #65c4ae !important;
}
.bgprimary
{
    background-color: #65c4ae !important;
}

.pt-10
{
    padding-top: 10px !important;
}
.pb-10
{
    padding-bottom: 10px !important;
}

.pt-20
{
    padding-top: 20px !important;
}
.pb-20
{
    padding-bottom: 20px !important;
}


.pt-30
{
    padding-top: 30px !important;
}
.pb-30
{
    padding-bottom: 30px !important;
}


.pt-40
{
    padding-top: 40px !important;
}
.pb-40
{
    padding-bottom: 40px !important;
}

.parent-form
{
    position: relative;
}
.parent-form img
  {
    position: absolute;
    height: 63px;
    right: 0;
    top: 15px;
  }
  
  
  .bigcheckbox
  {
    width: 35px;
    height: 35px;
  }
  .biglabel
  {
    font-size: 25px !important;
    color: white !important;
    padding-left: 20px;
    line-height: 29px;
    border: none !important;
    font-weight: 400;
  }


  .top-header
  {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
  }
  .washgo-img
  {
    height: 67px;
    padding-left: 7%;
  }

  .smimg
  {
    height: 40px;
    padding-right: 6%;

  }
  .subheading

{
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
}


.button-5 {
    lign-items: center;
    background-clip: padding-box;
    background-color: #fec014;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    /* font-weight: 600; */
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(1rem - 1px) calc(3.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    font-family: "Montserrat Regular";
}

.button-5:hover,
.button-5:focus {
  background-color: #fabd36;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

@media only screen and (max-width: 991px) {
  .biglabel {
    font-size: 20px !important;
    padding-left: 12px;
}

.subheading span {
  font-size: 15px;
}


}

.top-header input[type="radio"]:hover:not(:checked) + label {
  background-color: transparent !important;
}